* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit";
}

.qr-section {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 16px;
  max-width: 300px;
  text-align: center;
}

.qr img {
  width: 100%;
  border-radius: 12px;
}

.qr-text p:first-child {
  padding-top: 16px;
  font-weight: 700;
  font-size: 22px;
}

.qr-text p:last-child {
  padding-top: 22px;
  font-weight: 400;
  color: #808080;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
